html, body, .layout {
  position:relative;
  top:0px;
  left:0px;
  width:100%;
  height:100%;
  box-sizing:border-box;
  margin: 0px;
  padding: 0px;
  background-color:black;
  color: white;
  font-size: 16px;
}
body * {
  margin: 0;
  padding: 0;
  font-family: "Lucida Grande", helvetica, sans-serif;
}
input[disabled], button[disabled], select[disabled] {
  opacity: 0.3;
}
input[type=text], textarea, select,button {
  border: #fff 1px solid;
  font-size: 15px;
  line-height: 1.2em;
  width: 100%;
  color: #000;
  background-color: #fff;
  margin-bottom: 10px;
  box-sizing: border-box;
  padding: 0.5em;

}

.command {
  height: 100%;
  margin-right: 25px;
}
.layout {
  padding-top: 64px;
  padding-bottom: 64px;
}
.layout.arena {
  padding-top: 0px;
  padding-bottom: 100px;
}
.panel {
  padding-left: 1em;
  padding-right: 1em;
  width:100%;
  position: absolute;
  box-sizing:border-box;
  left:0px;
}

.arena.panel.bottom {
  border-top: solid 1px green;
  bottom:0px;
  height:100px;
}
.panel.bottom {
  border-top: solid 1px green;
  bottom:20px;
  height:64px;
}

.commands {
  height:100%;
  margin: 10px 0;
}
.command {
  height:100%;
}
.panel.top{
  border-bottom: solid 1px green;
  top:0px;
  height:64px;
}
.main {
  position:relative;
  top:0px;
  left:0px;
  width:100%;
  height:100%;
}
.wrapper {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  margin: 0;
}
svg {
  /*border: solid 1px white;*/
  box-sizing:border-box;
  margin: 0px;
  padding: 0px;
  width:100%;
  height:100%;
}
.form {
       padding: 20px;
}
.cell {
  fill: grey;
  stroke: white;
}
.cell.black {
  fill: red;
  stroke: white;
}
.cell.white {
  fill: blue;
  stroke: white;
}

.cell.selected {
  fill:yellow;
}
.pattern .cell {
  fill: yellow;
  opacity:0.5;
  stroke:yellow;
  stroke-width:0.2px;
  stroke-dasharray:0.1;
}
.debug {
  fill:none;
  stroke: red;
}
.debug.window {
  stroke: red;
}

.debug.selection {
  stroke: yellow;
}
#qr-code {
  height:150px;
  position:absolute;
  bottom:0px;
  right:0px;
}
#qr-code svg {
  height:90%;
  background:white;
}
#qr-code path {
  fill: green;
  stroke: none;
}

.label-value {
  margin-bottom: 10px;
}

.label-value:first-of-type {
  margin-bottom: 15px;
}

.label-value:last-of-type {
  margin-bottom: 25px;
}

button {
  background:    #8a8a8a;
  background:    -webkit-linear-gradient(#8a8a8a, #5c5c5c);
  background:    linear-gradient(#8a8a8a, #5c5c5c);
  border-radius: 5px;
  box-shadow:    0 1px 0 0 #444;
  color:         #fff;
  display:       inline-block;
  padding:       20px 30px;

  font:          normal 700 24px/1 "Calibri", sans-serif;
  text-align:    center;
  text-shadow:   1px 1px 0 #000;
}


li {
  margin-bottom: 15px;
}


.agree {
  margin-bottom: 20px;
}


.stats .player-1 {
    background-color: blue;
}
.stats .player-2 {
    background-color: red;
    float:right;
}
.stats .player-score {
  font-size:42px;
  float:right;
}
.stats .player-name {
  float:left;
}
.stats > div {
    float: left;
    padding: 10px;
    width: 500px;
    margin: 5px;
}
.stats .generation {
  font-size:36px
}

.stats .generation .label{
  margin-right:25px;
}
